/* * {
 
} */

html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: cadetblue;
}

body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.hero-section {
  position: relative;
  height: 100vh; /* Set the height to cover the viewport */
  overflow: hidden; /* Hide any overflow content */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire area */
}

.heading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%; /* Ensure the content takes full width */
}

.museum-div h1 {
  margin: 0;
  color: white;
  font-size: 3em;
}

.buttonDiv {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.buttonFind button {
  padding: 10px 20px;
  font-size: 1.2em;
}


#map-container{
  display: none;
}




/* 
.hero-section{
  height: 100%;
  width: 100%;
}

.background-image {
  height: 100%;
  width: 100%;
  text-align: center; 
} */

h1 {
  color: #333;
}

.container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#map-container {
  height: 400px; /* Adjust height as needed */
}

#museum-list,
#route-info,
#museum-info {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 5px;
  }

  #map-container {
    height: 300px;
  }
}
